
body{
    background-color: #ffff;
    text-decoration: none;
}
@font-face {
    font-family: "RobotoMono-Italic-VariableFont_wght";
    src: url(../Fontes/RobotoMono-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Alkatra-VariableFont_wght";
    src: url("../Fontes/Alkatra-VariableFont_wght.ttf");
  }
.cabecalho h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(0, 0, 0);
    margin: auto;
  }

.geral{
    width: 100vw;
    height: 100vh;
    color: #ffff;
    padding-top: 16vh;
}

.conteudo1{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 120vh;
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -10vh;

}
.img_demonstrativa_div{
    width: 60%;
    padding-bottom: 30px;
    margin-top: 10vh;
    color: rgb(0, 0, 0);
}
.img_demonstrativa{
    width: 100%;
}
.informações_filme{
    width: 59vw;
    font-family: "Alkatra-VariableFont_wght";
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    margin-top: -10vh;
    
}
.informações_filme h2{
    font-size: 1.3em;
    padding-bottom: 10px;
    
}
.informações{
    width: 40% ;
    display: list-item;
    justify-content: center;
    margin-top: 10vh;
    
}
.Class_Idade{
    display: flex;
    width: 12%;
    height: 10vh;
    justify-content: center;
    align-items: center;

}
.cabecalho{
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.cabecalho{
    list-style: none;
}

p{
    font-family: "Alkatra-VariableFont_wght";
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}
.editar{
    width: 20%;
    display: flex;
    align-items: baseline;
    justify-content: right;
    
    
}
.btn_edit{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    width: 80%;
    border-radius: 10px;
    margin-right: 10px;
    
}
.btn_edit:hover{
    background-color: rgba(0, 0, 0, 0.697);
    color: #ffffff;
}
.class-edit{
    padding-top: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

}
.exit{
    width: 35vw;
    padding-top: 4vh;
   
    padding-left: 20px;
    padding-bottom: 4vh;

}
.btn_exit{
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    width: 30%;
    border-radius: 10px;
    

}
.btn_exit:hover{
    background-color: rgba(34, 34, 34, 0.697);
    color: #ffffff;
}
.Classificação{
    width: 80%;
}
.sinopse h2{
    margin-left: 1.1rem;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sinopse{
    width: 90%;
    margin: auto;
}
.Classificação h2{
    margin-left: 2rem !important;
    color: rgb(0, 0, 0);
    font-family: "Alkatra-VariableFont_wght";
}
.img_Class_Idade{
    width: 60px;
}
.informacoes1{
    width: 80%;
    
}

.informacoes1 h2{
    color: #000000;
    font-weight: 600;
    font-family: "RobotoMono-Italic-VariableFont_wght";
    margin-left: 3px;

}

.tipo{
    width: 20%;
    display: flex;
    justify-content: right;
    
}
.tipo1{
    width: 140px;
    height: 40px;
    background-color: #000000;
    border-radius: 8px;

}
.tipo1 h3{
    font-size: 1.4em;
    padding-top: 8px;
    text-align: center;
    color: #ffffff;
}


