
body{
    background-color: rgb(2, 2, 2);
}

@font-face {
    font-family: "Alkatra-VariableFont_wght";
    src: url("../Fontes/Alkatra-VariableFont_wght.ttf");
  }
  h1{
    padding: 10px;
    font-family: "Alkatra-VariableFont_wght";
    color: rgb(0, 0, 0);
  }
.conteudo1{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    background-color: #ffffff;
    margin-top: -50px;
    padding-left: 20px;
    padding-right: 20px;

}
.img_demonstrativa_div{
    width: 60%;
    padding-bottom: 30px;
    margin-top: 10vh;
    color: rgb(0, 0, 0);
}
.img_demonstrativa{
    width: 100%;
}
.informações_filme{
    padding-top: 10px;
    margin-left: 2%;
    font-family: "Alkatra-VariableFont_wght";
    display: flex;
    flex-wrap: wrap;
    
}
.informações_filme h2{
    font-size: 1.3em;
    padding-bottom: 10px;
}
.informações{
    width: 40% ;
    display: list-item;
    justify-content: center;
    margin-top: 10vh;
    
}
.cabecalho{
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
p{
    font-family: "Alkatra-VariableFont_wght";
    color: rgb(0, 0, 0);
}
.editar{
    width: 50%;
    display: flex;
    align-items: baseline;
    justify-content: right;
    
}
.btn_edit{
    color: #ffffff;
    background-color: rgb(197, 99, 8);
    width: 50%;
    border-radius: 10px;
    
}
.btn_edit:hover{
    background-color: rgba(197, 99, 8, 0.697);
    color: #ffffff;
}
.class-edit{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.exit{
    width: 25%;

}
.btn_exit{
    color: #ffffff;
    background-color: rgb(197, 99, 8);
    width: 90%;
    border-radius: 10px;

}
.btn_exit:hover{
    background-color: rgba(197, 99, 8, 0.697);
    color: #ffffff;
}
.Classificação{
    padding-top: 30px;
    width: 50%;
}
.sinopse h2{
    margin-left: 2rem !important;
    color: rgb(0, 0, 0);
    font-family: "Alkatra-VariableFont_wght";
}
.sinopse{
    width: 90%;
    margin: auto;
}
.Classificação h2{
    margin-left: 2rem !important;
    color: rgb(0, 0, 0);
    font-family: "Alkatra-VariableFont_wght";
}
.img_Class_Idade{
    width: 50px;
    padding-top: 10px;
}
.informacoes1{
    width: 80%;
}
.tipo{
    width: 20%;
    display: flex;
    justify-content: right;
    
}
.tipo1{
    width: 140px;
    height: 40px;
    background-color: #000000;
    border-radius: 8px;

}
.tipo1 h3{
    font-size: 1.4em;
    padding-top: 8px;
    text-align: center;
    color: #ffffff;
}