@font-face {
  font-family: "Alkatra-VariableFont_wght";
  src: url("../Fontes/Alkatra-VariableFont_wght.ttf");

}

.fixarRodape {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: #242B30;
  height: 3%;
}
.rodape_informacoes_nomes{
  width: 90%;
  height: 100%;
  margin: auto;
}
.rodape_informacoes_nomes h2{
  padding-top: 8px;
  font-size: 1em;
  color: antiquewhite;
  font-family: "Alkatra-VariableFont_wght";
}

body{
  overflow-x: hidden;
}
.tudo{
  width: 100% !important;

}
.tudo1{
  margin-bottom: -16px;
  margin-top: -16px;
}
.conteudo h1{
    margin-top: 10px;
    color: antiquewhite;
}
.conteudo{
    background-color: rgb(65, 65, 65);
    width: 80vw;
    padding-bottom: 20px;
}

.carousel-inner > .carousel-item > img {
    width: 60%;
    height: 500px;
    margin: auto; 
  }
  .filmes{
    padding-bottom: 20px;
  }
  .filme{
    width: 90%;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 10px;
    background-color: rgb(29, 26, 26);
    text-align: center;
    padding-bottom: 5px;
    border-radius: 4px;
  }
  .filme_2{
    
    text-align: center;
  }
  .filme_3{
    
    text-align: center;
  }
  .filme_4{
    
    text-align: center;
  }
  .img_filme{
    width: 70%;
    height: 300px;
  }
  .btn_ver{
    background-color: #D1985F;
    color:antiquewhite;
    width: 6em;
  }
  .btn_ver:hover{
    background-color: antiquewhite;
    color: #D1985F;
  }
  .rodape{
    background-color: #242B30;
    width: 100%;
    color: antiquewhite;
    font-family: "Alkatra-VariableFont_wght";
    font-size: 1.5em;
  }
  a{
    text-decoration: none;
    color: antiquewhite;
  }
  a:hover{
    text-decoration: none;
  }