@font-face {
  font-family: "Alkatra-VariableFont_wght";
  src: url("../Fontes/Alkatra-VariableFont_wght.ttf");

}
@font-face {
  font-family: "RobotoMono-Italic-VariableFont_wght";
  src: url(../Fontes/RobotoMono-Italic-VariableFont_wght.ttf);
}

.fixarRodape {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 4%;
}
.rodape_informacoes_nomes{
  width: 90%;
  height: 100%;
  margin: auto;
}
.rodape_informacoes_nomes h2{
  padding-top: 8px;
  font-size: 1em;
  color: rgb(197, 99, 8);
  font-family: "Alkatra-VariableFont_wght";
  text-align: center;
}

body{
  overflow-x: hidden;
  background-color: black;
}
.tudo{
  width: 100% !important;

}
.tudo1{
  margin-bottom: -16px;
  margin-top: -16px;
}
.conteudo h1{
    margin-top: 20px;
    font-size: 2em;
    color: antiquewhite;
    
}
.conteudo{
    background-color: none;
    margin-top: 100px;
    width: 80vw;
    padding-bottom: 20px;
}

.logo a{
  text-decoration: none;
  
}
.logo a{color: #ffffff;}

.carousel-inner > .carousel-item > img {
    width: 70%;
    height: 600px;
    margin: auto; 
  }

  .tudofilmes h1{
    color: #ffffff;
    font-family: "RobotoMono-Italic-VariableFont_wght";
    padding-left: 4vw;
    padding-top: 1vw;
  }
  
  .tudofilmes{
    
    width: 98vw !important;
    margin: auto;
    border-radius: 4px;
  }
  .filmes{
    background-color: rgb(0, 0, 0);
    width: 97vw;
    height: 400px;
    border-radius: 3px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    
  }

  h2{
    color: #ffffff;
    font-size: 1.4em;
    padding-top: 7px;
    font-family: "RobotoMono-Italic-VariableFont_wght";
  }

  .filme{
    width: 17vw;
    height: auto;
    padding-top: 10px;
    background-color: rgba(181, 43, 43, 0);
    text-align: center;
    border-radius: 4px;
    border: 1px solid #7A0D4F;
  }

  .filme_1{
    text-align: center;

  }
  .filme_2{
    text-align: center;

  }
  .filme_3{

    text-align: center;
  }
  .filme_4{
    text-align: center;

  }
  .filme_5{
    text-align: center;

  }
  .img_filme{
    width: 16vw;
    
    height: 300px;
 
    
  }
  .btn_ver{
    background-color: rgb(122, 13, 13);
    color:rgb(0, 0, 0);
    width: 6em;
  }
  .btn_ver:hover{
    background-color: #ffffff;
    color:rgb(0, 0, 0);
  }
  .rodape{
    background-color: #242B30;
    width: 100%;
    color: antiquewhite;
    font-family: "Alkatra-VariableFont_wght";
    font-size: 1.5em;
  }
  a{
    text-decoration: none;
    color: antiquewhite;
  }
  a:hover{
    text-decoration: none;
  }