@font-face {
    font-family: "Alkatra-VariableFont_wght";
    src: url("../Fontes/Alkatra-VariableFont_wght.ttf");
}

.navs{
    background-color: rgb(0, 0, 0);
    
}
.nav_text{
    color: antiquewhite;
    font-family: "Alkatra-VariableFont_wght";
    font-size: 1.25em;
}
.Navbar_Text{
    font-size: 2em;
}
.btn_nav{
    background-color: rgb(197, 99, 8);
    color:antiquewhite;
    
}
.btn_nav:hover{
    color: #e48c35 !important;
    background-color: aliceblue !important;
}